<div class="card" name="restaurant">
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone_number %></p>
  <p><%= restaurant.category %></p>
  <span>
    <%= link_to "Edit", edit_restaurant_path(restaurant) %> |
    <%= link_to 'Leave a review', new_restaurant_review_path(restaurant) %>
  </span>
</div>
